// Specific CSS for your home-page
html {
  border-top: 5px solid #dfdfdf;
}

body {
  margin: 0 auto;
  width: 800px;
  background-color: #eeeeee;
  font-family: 'Muli', ;

h2 {
  letter-spacing: 5px;
}

h3 {
  font-family: 'Muli', ;
}

}
